# Nextcloud AIO Mastercontainer
<nextcloud-aio-domain>:443 {
    reverse_proxy localhost:8080 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

# Nextcloud
<nextcloud-domain>:443 {
    reverse_proxy localhost:11000
}

# Etherpad
<etherpad-domain>:443 {
    reverse_proxy localhost:8082
}

# Reposilite
<reposilite-domain>:443 {
    reverse_proxy localhost:8081
}
